<link  rel="stylesheet" href="/css/error.css">
<%- include("includes/head") %>
    </head>

    <body>
        <%- include("includes/navigation") %>
            <main class="main-content">
                <div class="error-container">
                    <div class="error-container">
                        <h1 class="error-title">404</h1>
                        <p class="error-text">Page not found</p>
                    </div>
                </div>
            </main>
            <%- include("includes/end") %>