<%- include("includes/head") %>
    </head>

    <body>
        <%- include("includes/navigation") %>
            <main class="main-content">
                <div class="404-container">
                    <h1 class="404-title">404</h1>
                    <p class="404-text">Page not found</p>
                </div>
            </main>
            <%- include("includes/end") %>