<link rel="stylesheet" href="/css/error.css">
<%- include("includes/head") %>

<body>
    <%- include("includes/navigation") %>
    <main class="main-content">
        <div class="error-container">
            <h1 class="error-title">500</h1>
            <p class="error-text">Something went wrong</p>
        </div>
    </main>
    <%- include("includes/end") %>