<%- include("../includes/head") %>
    </head>

    <body>
        <%- include("../includes/navigation") %>
            <main class="main-content">
                <div class="home-container">
                    <h1>Orders</h1>
                </div>
            </main>
            <%- include("../includes/end") %>